body{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
}

.box-forms{
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-forms .fake-form{
    margin-top: 120px;
    width: 280px;
    height: 100%;
    min-height: 380px;
    background-color:#e4e4e4;
    display: flex;
    flex-direction: column;

}

.box-forms .fake-form label{
    margin-top: 13.5px;
}

.cotacao-label{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 700;
}

.box-2{
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box-3{
    display: flex;
    flex-direction: row;
}

.box-3 button{
    margin-left: 5px;
}

#lista{
    margin-left: 15px;
    list-style: none;
    overflow: hidden;
    
}

#lista li{
    margin-top: 5px;
    max-width: 280px;
}

.box-4{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

ul li button{
    margin-left: 10px;
}