.box{
    display: flex;
    flex-direction: column;
    max-width: 180px;
    margin-left: 40%;
    margin-top: 75px;
}

.btnSubmit{
    margin-top: 10px;
    max-width: 120px;
    margin-left: 2px;
}

.txtArea{
    max-width: 120px;
}
